extends layout.pug

block title
    title Course
block content
    if isEdit
        -var title = "Edit Course"
        -var formUrl = "/courses/"+course.courseId+"/edit"
    else
        -var title = "Add Course"
        -var formUrl = "/courses/add"
    center
        div(class="container mt-4")
            div(class="col-lg-12")
                if errors
                    div(class="alert alert-danger",role="alert") 
                        ul
                        - for(i in errors)
                            li #{errors[i]}
            div(class="col-lg-8 card")
                div(class="card-header") #{title}
                form(action=formUrl ,method="POST")
                    div.row
                        div.col
                            div(class="form-group")
                                label(for='CourseId') CourseID:
                                input#courseId(type='text', class="form-control",
                                    placehoder='Format ABC1234',name='courseId' ,
                                    value=course ? course.courseId : "",
                                    readonly= isEdit ? true : false)
                        div.col
                            div(class="form-group")
                                label(for='name') Course Name:
                                input#name(type='text', class="form-control",
                                    placehoder='Course name',name='name',
                                    value=course ? course.name: "",
                                    readonly= isEdit ? true : false)
                    div.row
                        div.col
                            div(class="form-group")
                                label(for='duration') Duration:
                                input#duration(type='number', class="form-control",
                                ,name='duration',min=1,value=course ? course.duration: 0)
                        div.col
                            div#limitBlc(class="form-group", style="display: hidden" )
                                label(for='limit') Limit
                                input#limit(type='number', class="form-control",
                                    ,name='limit',min=10,value=course ? course.limit: 0)
                    div(class="form-group")
                        label(for='content') Content
                        if course
                            textarea#content(name="content", 
                                cols="15", rows="8",
                                class="form-control") #{course.content}
                        else
                            textarea#content(name="content", 
                                cols="15", rows="8",
                                class="form-control")
                    button(type='submit', class="btn btn-primary") Submit    
